﻿@model TestAssignment.Models.Auction

@{
    ViewBag.Title = "Details";
}

<h2>Info</h2>

<div>
    <h4>Oksjon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Toote nimi:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            Toote kirjeldus:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
            Algusaeg:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            Lõpptähtaeg:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            Staatus:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @if (Model.Status == 2) { 

    if (Model.Bids.ToList().Count < 1)
    {
            <p>Pakkumisi ei tehtud.</p>
        }
        else
        {
            <h2>Võitja</h2>
            <p>Nimi: @Model.Bids.Where(x => x.Sum == Model.Bids.Max(b => b.Sum)).First().User</p>
            <p>Summa: @Model.Bids.Where(x => x.Sum == Model.Bids.Max(b => b.Sum)).First().Sum</p>
        }
    }


    <h2>Pakkumised</h2>
</div>

<table class="table">
    <tr>
        <th>
            Nimi
        </th>
        <th>
            Aeg
        </th>
        <th>
            Summa
        </th>
    </tr>

    @foreach (var item in Model.Bids)
    {
        <tr>
            <td>
                @item.User
            </td>
            <td>
                @item.Time
            </td>
            <td>
                @item.Sum eurot
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Tagasi", "Index")
</p>
