﻿@model IEnumerable<TestAssignment.Models.Auction>

@{
    /**/

    ViewBag.Title = "Index";
}

<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>

<h2>Oksjonid</h2>

<p>
    @Html.ActionLink("Lisa uus", "Create", null, new { @class = "btn btn-primary btn-lg" })
</p>
<h2>Salvestatud oksjonid</h2>
<p>Vajutades nupule "Alusta oksjon", muutub oksjon aktiivseks.</p>

@foreach (var item in Model.Where(x => x.Status == 0))
{
    <div style="width:300px;height:350px;display:inline-block;background-color:aliceblue;padding:50px;margin:20px;border-radius:20px;border:3px solid #66ccff">
        <p>Id: @item.Id</p>
        <p class="text">Toote nimi: @item.ProductName</p>
        <img src="https://cdn.shopify.com/s/files/1/0198/0812/products/MysteryBox_large.jpg?v=1480433527" style="height:100px;width:100px;" />
        <p class="text">Kirjeldus: @item.ProductDescription</p>
        <p>Lõpp: @item.EndTime</p>
        @Html.ActionLink("Alusta oksjon", "StartAuction", new { id = item.Id }, new { @class = "btn btn-primary btn-lg" })
    </div>
}


<br />
<h2>Käimasolevad oksjonid</h2>
<p>Vajuta nupule "Rohkem infot", et näha pakkumisi.</p>

@foreach (var item in Model.Where(x => x.Status == 1))
{

    if (item.Status == 1)
    {


        <div style="width:300px;height:380px;display:inline-block;background-color:lemonchiffon;padding:35px;margin:20px;border-radius:20px;border:3px solid #ffcc00">
            <p>Id: @item.Id</p>
            <p class="text">Toote nimi: @item.ProductName</p>
            <img src="https://cdn.shopify.com/s/files/1/0198/0812/products/MysteryBox_large.jpg?v=1480433527" style="height:100px;width:100px;" />
            <p class="text">Kirjeldus: @item.ProductDescription</p>
            <p>Aega jäänud:</p>
            <div id="@item.Id"></div>
            <script>
                var CountDown = function (data) {
                    // Assign this object
                    var thisObj = this;
                    // Make sure all settings are not left undefined
                    data.send_to = (typeof data.send_to === "undefined") ? "time1" : data.send_to;
                    data.backcolor = (typeof data.backcolor === "undefined") ? "lemonchiffon" : data.backcolor;
                    data.forecolor = (typeof data.forecolor === "undefined") ? "black" : data.forecolor;
                    data.targetdate = (typeof data.targetdate === "undefined") ? "12/31/2020 5:00 AM" : data.targetdate;
                    data.displayformat = (typeof data.displayformat === "undefined") ? "%%D%% Päeva, %%H%% Tundi, %%M%% Minutit, %%S%% Sekundit." : data.displayformat;
                    data.countactive = (typeof data.countactive === "undefined") ? true : data.countactive;
                    data.message = (typeof data.message === "undefined") ? "Ended" : data.message;
                    data.countstepper = (typeof data.countstepper != "number") ? -1 : data.countstepper;
                    data.leadingzero = (typeof data.leadingzero === "undefined") ? true : data.leadingzero;
                    // Get DOM object
                    var domObj = document.getElementById(data.send_to);

                    this.calcage = function (secs, num1, num2) {
                        var s = ((Math.floor(secs / num1)) % num2).toString();

                        if (data.leadingzero && s.length < 2)
                            s = "0" + s;

                        return "<b>" + s + "</b>";
                    }

                    this.putSpan = function (backcolor, forecolor) {
                        // Modify html instead of making html
                        domObj.style.backgroundColor = backcolor;
                        domObj.style.color = forecolor;
                    }

                    this.writeBoard = function (secs, countDownEngine) {
                        if (secs <= 0) {
                            clearInterval(countDownEngine);
                            domObj.innerHTML = data.message;
                            location.reload();
                            return;
                        }

                        var DisplayStr = '';
                        DisplayStr = data.displayformat.replace(/%%D%%/g, thisObj.calcage(secs, 86400, 100000));
                        DisplayStr = DisplayStr.replace(/%%H%%/g, thisObj.calcage(secs, 3600, 24));
                        DisplayStr = DisplayStr.replace(/%%M%%/g, thisObj.calcage(secs, 60, 60));
                        DisplayStr = DisplayStr.replace(/%%S%%/g, thisObj.calcage(secs, 1, 60));
                        domObj.innerHTML = DisplayStr;
                    }

                    this.create = function () {
                        data.countstepper = Math.ceil(data.countstepper);

                        if (data.countstepper == 0)
                            data.countactive = false;

                        var SetTimeOutPeriod = ((Math.abs(data.countstepper) - 1) * 1000) + 990;

                        thisObj.putSpan(data.backcolor, data.forecolor);

                        var dthen = new Date(data.targetdate);
                        var dnow = new Date();
                        var nowCalc = (data.countstepper > 0) ? (dnow - dthen) : (dthen - dnow);
                        var ddiff = new Date(nowCalc);
                        var gsecs = Math.floor((ddiff.valueOf() / 1000));

                        var countDownEngine = setInterval(function () {
                            gsecs = gsecs + data.countstepper;
                            thisObj.writeBoard(gsecs, countDownEngine);
                        }, 1000);
                    }
                }
                // Create instance of your countdown with it's own settings
                var counter = new CountDown({
                    // This is the id name for the container (<div id="time1"></div>)
                    send_to: '@item.Id',
                    forecolor: 'red',
                    targetdate: '@TestAssignment.Controllers.AuctionsController.endtimeString(item.EndTime ?? DateTime.Now)'
                });
                
                // Apply the creation method
                // Without .create(), nothing will happen since all the working
                // script to apply the counter is in this method
                counter.create();
            </script>
            @Html.ActionLink("Rohkem infot", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-lg" })
        </div>
    }


}

<br />
<h2>Lõppenud oksjonid</h2>
@foreach (var item in Model.Where(x => x.Status == 2))
{
    <div style="width:300px;height:380px;display:inline-block;background-color:lightpink;padding:50px;margin:20px;border-radius:20px;border:3px solid #ff5050">
        <p>Id: @item.Id</p>
        <p class="text">Toote nimi: @item.ProductName</p>
        <img src="https://cdn.shopify.com/s/files/1/0198/0812/products/MysteryBox_large.jpg?v=1480433527" style="height:100px;width:100px;" />
        <p class="text">Kirjeldus: @item.ProductDescription</p>
        <p style="font-size:smaller">Algus: @item.StartTime</p>
        <p style="font-size:smaller">Lõpp: @item.EndTime</p>
        @Html.ActionLink("Rohkem infot", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-lg" })
    </div>
}
